[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e88296c" = {file = "https://github.com/naueramant/parso/archive/v0.1.2.tar.gz"}
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.6"
